################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zimdevs-API/.vs/zimdevsapi/v15/Server/sqlite3
