<div class="top-banner">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-sm-auto intro-text">
        <h1>Join, Learn, Build, Share</h1>
        <br />
        <h3> Join Zimbabwe's ever growing
          <strong>community </strong>of developers</h3>
        <br /> Each year, new software development technologies, techniques and standards emerge. Keep up and skill up by joining
        the largest community of Zimbabwean software developers.
        <br/>
        <p>
          <a href="#" style="color:white">Join</a> and share your experiences while learning from others.
        </p>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-6">

        <div class="card card-cascade">

          <!--Card image-->
          <div class="view gradient-card-header">
            <br>
            <h3 style="text-align:center">Sign Up with </h3>
            <div class="text-center">

              <!--Linkedin-->
              <button type="button" class="btn btn-gplus social-media-icon-linkedin" mdbRippleRadius>
                <i class="fa fa-linkedin fa-2x"></i>
              </button>

              <!--Twitter-->
              <button type="button" class="btn btn-gplus social-media-icon-twitter" mdbRippleRadius>
                <i class="fa fa-twitter fa-2x"></i>
              </button>

              <!--Google +-->
              <button type="button" class="btn btn-gplus social-media-icon-google" mdbRippleRadius>
                <i class="fa fa-google-plus fa-2x"></i>
              </button>

              <h4> or be classical </h4>
            </div>
          </div>
          <!--/Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Register form-->
            <form>
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="orangeForm-email" class="form-control" autocomplete="off" mdbActive>
                <label for="orangeForm-email">Your email</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control" autocomplete="off" mdbActive>
                <label for="orangeForm-pass">Your password</label>
              </div>

              <div class="text-center">
                <button class="btn info-color-dark waves-light" mdbRippleRadius>Sign up</button>
              </div>

            </form>
            <!--/Register form-->

          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->

      </div>
    </div>
  </div>
</div>

<div class="info-strip">
  <div class="container">
    somtheint
  </div>
</div>
