<div class="top-banner">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-sm-auto intro-text">
        <h1>Join, Learn, Build, Share</h1>
        <br />
        <h3> Join Zimbabwe's largest
          <strong>community </strong>of developers</h3>
        <br /> Each year, new software development technologies, techniques and standards emerge. Keep up and skill up by joining
        the largest community of Zimbabwean software developers.
        <br/>
        <p>
          <a href="#" style="color:white">Join</a> and share your experiences while learning from others.
        </p>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-6">

        <div class="card card-cascade">

          <!--Card image-->
          <div class="view gradient-card-header blue-gradient">
            <br>
            <h3 style="text-align:center">Sign Up with </h3>
            <div class="text-center">

              <!--Linkedin-->
              <button type="button" class="btn btn-li waves-light" mdbRippleRadius>
                <i class="fa fa-linkedin"></i>
              </button>

              <!--Facebook-->
              <button type="button" class="btn btn-fb waves-light" mdbRippleRadius>
                <i class="fa fa-facebook"></i>
              </button>

              <!--Google +-->
              <button type="button" class="btn btn-gplus waves-light" mdbRippleRadius>
                <i class="fa fa-google-plus"></i>
              </button>



              <h4> or be classical </h4>
            </div>
          </div>
          <!--/Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Register form-->
            <form>
              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control" mdbActive>
                <label for="orangeForm-name">Your name</label>
              </div>
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="orangeForm-email" class="form-control" mdbActive>
                <label for="orangeForm-email">Your email</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
                <label for="orangeForm-pass">Your password</label>
              </div>

              <div class="text-center">
                <button class="btn btn-deep-orange waves-light" mdbRippleRadius>Sign up</button>
              </div>

            </form>
            <!--/Register form-->

          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->

      </div>
    </div>
   

  </div>
 
</div>
<div class="contiainer info-strip">
  There should be something here
</div>