@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

.zimdevs-logo{
  content: url("assets/images/zimdev_logo.png");
  vertical-align: middle;
}

.help-center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}