 
<header>        
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-white" [containerInside]="true">
        <logo>
            <a class="navbar-brand" href="#">
              <strong>Zim Devs</strong>
            </a>
        </logo>
        <links>
            <ul class="navbar-nav" style="padding:0.5em;">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius routerLinkActive="active">Technologies</a>
                  </li>      
                  <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius routerLinkActive="active">Tutorials</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius routerLink="/blogs" routerLinkActive="active">Blogs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius routerLink="/developer" routerLinkActive="active">Developers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius routerLink="/jobs" routerLinkActive="active">Mentorship</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius routerLink="/jobs" routerLinkActive="active">Jobs</a>
                  </li>
                  <!-- Dropdown -->
                  <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                      About
                      <span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                      <a class="dropdown-item waves-light" mdbRippleRadius href="#">About Zimdevs</a>
                      <a class="dropdown-item waves-light" mdbRippleRadius href="#">How to get in touch</a>
                      <a class="dropdown-item waves-light" mdbRippleRadius href="#">About the founder</a>
                      <div class="divider dropdown-divider"></div>
                      <a class="dropdown-item waves-light" mdbRippleRadius href="#">Help us grow</a>
                    </div>
                  </li>            
            </ul>
            <form class="form-inline  waves-light" mdbRippleRadius>
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
        </links>
    </mdb-navbar>   
</header>    


               