
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
    background-size: cover;
    margin-top: -56px;
}
.navbar {
    z-index: 1;
}
     
li {
    margin-right: 30px;
}
.navbar li {
    margin-right: 10px;
}